.title {
    color: palevioletred;
    text-align: center;
}

.trend {
    text-align: center;
    color: aqua;

}

.body {
    background-color: grey;
}

.fyp {
    text-align: center;
    color: aqua;
}

.following {
    text-align: center;
    color: aqua;
}